---
import Container from './Container.astro'; // 1. Importamos el Contenedor
---
<section class="h-screen bg-neutral-950 text-white flex items-center">
    <Container>
        <h1 class="text-5xl font-bold">Diego JGS</h1>
        <h2 class="text-3xl text-neutral-400">Desarrollador Full-Stack</h2>
    </Container>
</section>