---
import Container from './Container.astro';
import Scene3D from './Scene3D.jsx';

// 1. Importamos nuestro NUEVO componente de texto
import AnimatedHeroText from './AnimatedHeroText.jsx';
---
<section class="h-screen bg-neutral-950 text-white relative">

    <div class="absolute inset-0 z-10 flex items-center">
        <Container>
            <AnimatedHeroText client:load />
        </Container>
    </div>

    <div class="absolute inset-0 z-0">
        <Scene3D client:load />
    </div>
</section>